* {
  font-family:'Roboto',sans-serif;
}

b{
  color: rgb(65, 228, 0);
}

i {
  color: orangered;
}

h1, h2, h3, h4 {
  color: rgb(225, 0, 255);
}

body {
  background-color: whitesmoke;
}

.block-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  padding-right: 5%;
  padding-left: 5%;
}

/* Header */

.header{
  display: flex;
  align-items: center;
}
.title {
  margin-right: auto;
}

.menu-top {
  margin-left: auto;
}


/* Flex Basic Columns and Rows*/

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.column {
  flex: 1;
}

  .width90 {
    width: 90%;
  }

  .width100 {
    width: 39%;
  }

/* Button CSS */

a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  }
  a.button1:hover{
  color:#FFFFFF;
  background-color:#000000;
  }
  @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
  }

  a.width100 {
    width: 100%;
  }